{% extends "base.html" %}
{% block header %}
<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/jquery.tinymce.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/textareas.js"></script>
{% endblock %}
{% block content %}
<h2>{% if f %}Editando "{{ f.title }}"{% else %}Criando Página{% endif %}</h2>
<p><label>Local:</label> {{ url }}</p>
<form method="POST">
<table>
{% csrf_token %}
{{ form.as_table }}
</table>
<input type="submit" value="Salvar"/>
</form>
{% endblock %}
{% block sidebar2 %}
<!-- OCULTO -->
{% endblock %}
