<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
  <head>

    <meta name="google-site-verification" content="hFJn5rXz-e0F1jrIdHH7WDa3cmI9JKKGXrnFCABv-gk" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title></title>

    
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/crsf.js"></script>

    {% if request.user.is_authenticated %}
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css" id="theme"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/i18n/jquery-ui-i18n.min.js"></script>
    {% endif %}

    <link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" href="{{ STATIC_URL }}/css/style.ie6.css" type="text/css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="{{ STATIC_URL }}/css/style.ie7.css" type="text/css" media="screen" /><![endif]-->
    {% block header %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/script.js"></script>
  </head>
  <body>
    <div id="art-main">
      <div class="art-Sheet">
	<div class="art-Sheet-tl"></div>
	<div class="art-Sheet-tr"></div>
	<div class="art-Sheet-bl"></div>
	<div class="art-Sheet-br"></div>
	<div class="art-Sheet-tc"></div>
	<div class="art-Sheet-bc"></div>
	<div class="art-Sheet-cl"></div>
	<div class="art-Sheet-cr"></div>
	<div class="art-Sheet-cc"></div>
	<div class="art-Sheet-body">
          <div class="art-Header">
            <div class="art-Header-png"></div>
            <!--<div class="art-Header-jpeg"></div>
            <div class="art-Logo">
              <h1 id="name-text" class="art-Logo-name"><a href="#">Portal Terra Nossa</a></h1>
              <div id="slogan-text" class="art-Logo-text">preencher</div>
            </div>-->
          </div>
          <div class="art-nav">
            <div class="l"></div>
            <div class="r"></div>
            <ul class="art-menu">
              <li><a href="/"><span class="l"></span><span class="r"></span><span class="t">Início</span></a></li>
              <li><a href="/news/?type=1"><span class="l"></span><span class="r"></span><span class="t">Opnião</span></a></li>
              <li><a href="/news/"><span class="l"></span><span class="r"></span><span class="t">Notícias</span></a>
		<ul>
                  <li><a href="/news/?type=2">Município</a></li>
                  <li><a href="/news/?type=3">Estado</a></li>
                  <li><a href="/news/?type=4">País</a></li>
		</ul>
              </li>
	      <li><a href="/municipio/"><span class="l"></span><span class="r"></span><span class="t">Município</span></a>
		<ul>
                  <li><a href="/municipio/historia/">História</a></li>
                  <li><a href="/municipio/hino/">Hino</a></li>
                  <li><a href="/municipio/simbolos/">Simbolos</a></li>
                  <li><a href="/municipio/localizacao/">Localização</a></li>
                  <li><a href="/municipio/hospedagem/">Hospedagem</a></li>
                  <li><a href="/municipio/gastronomia/">Gastronomia</a></li>
                  <li><a href="/municipio/atrativos/">Atrativos Turísticos</a></li>
                  <li><a href="/municipio/telefones/">Telefones Úteis</a></li>
		</ul>
              </li>
              <li><a href="/eventos/"><span class="l"></span><span class="r"></span><span class="t">Eventos</span></a></li>


	      <li><a href="#"><span class="l"></span><span class="r"></span><span class="t">Multimídia</span></a>
		<ul>
                  <li><a href="/albuns/">Galeria de Fotos</a></li>
                  <li><a href="/videos/">Vídeos</a></li>
		</ul>
              </li>

              <li><a href="#"><span class="l"></span><span class="r"></span><span class="t">Diversos</span></a>
		<ul>
                  <li><a href="/cultura/">Cultura</a></li>
                  <li><a href="/esportes/">Esporte e Lazer</a></li>
                  <li><a href="/linkuteis/">Links Úteis</a></li>
		</ul>
              </li>
              <li><a href="/faleconosco/"><span class="l"></span><span class="r"></span><span class="t">Contato</span></a></li>
              <li><a href="/sobre/"><span class="l"></span><span class="r"></span><span class="t">Sobre</span></a></li>
            </ul>
          </div>
          <div class="art-contentLayout">
	    {% block sidebar1 %}
	    
            
	    {% endblock %}
            <div class="art-content">
	      {% block content %}
	      {% endblock %}
            </div>
	    {% block sidebar2 %}
	    {% endblock %}
          </div>
          <div class="cleared"></div><div class="art-Footer">
            <div class="art-Footer-inner">
              <a href="/rss/" class="art-rss-tag-icon" title="RSS"></a>
            
	      <div class="sis">
		{% if request.user.is_authenticated %}
		<span>Bem Vindo {{ request.user.username }}</span> -
		<a href="/auth/logout/">Sair</a>
		{% else %}
		<a href="/auth/login/">Autenticar</a>
		{% endif %}
	      </div>
	    </div>
            <div class="art-Footer-background"></div>
          </div>
	</div>
      </div>
      <div class="cleared"></div>
      
      <p class="art-page-footer">
	
      Feito por <a href="mailto:wilsonpjunior@gmail.com">Wilson Júnior</a> - <a href="http://mail.portalterranossa.com.br">E-Mail</a></p>
    </div>
  </body>
</html>
